.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li{class: page == :best_authors ? "active" : ""}
      %a{href: 'best_authors.html'}= :best_authors.t
    %li{class: page == :commits_sum_by_author_by_date ? "active" : ""}
      %a{href: 'commits_sum_by_author_by_date.html'}= :commits_sum_by_author_by_date.t
    %li{class: page == :changed_lines_by_author_by_date ? "active" : ""}
      %a{href: 'changed_lines_by_author_by_date.html'}= :changed_lines_by_author_by_date.t
    %li{class: page == :insertions_by_author_by_date ? "active" : ""}
      %a{href: 'insertions_by_author_by_date.html'}= :insertions_by_author_by_date.t
    %li{class: page == :deletions_by_author_by_date ? "active" : ""}
      %a{href: 'deletions_by_author_by_date.html'}= :deletions_by_author_by_date.t

  .tab-content
    .tab-pane.active
      .page-header
        %h1.pagination-centered= page.t

      - if page == :best_authors
        %table{:class => "table table-bordered table-condensed table-hover"}
          %tr
            %th= :author.t
            %th= :commits.t
            %th= :insertions.t
            %th= :deletions.t
            %th= :first_commit.t
            %th= :last_commit.t
            %th
          - sorted_authors = repo.authors.sort_by { |a| -a.commits.size}
          - sorted_authors.each_with_index do |author, i|
            %tr
              %th= author.name
              %td= author.commits.size
              %td= author.insertions
              %td= author.deletions
              %td= author.commits.first.try(:date).try(:to_formatted_s, :long)
              %td= author.commits.last.try(:date).try(:to_formatted_s, :long)
              %td
                %a.btn{:href => "#{author.dirname}/activity/by_date.html"}= :show_more.t

      -elsif page == :commits_count_by_author
        = high_chart("charts.commits_count_by_author", charts.commits_count_by_author(4))
        %small
          %center= "5 #{:best_authors_shown.t}"

      -elsif page == :commits_sum_by_author_by_date
        = high_stock("charts.commits_sum_by_author_by_date", charts.commits_sum_by_author_by_date(4))
        %small
          %center= "5 #{:best_authors_shown.t}"

      -elsif page == :changed_lines_by_author_by_date
        = high_stock("charts.changed_lines_by_author_by_date", charts.changed_lines_by_author_by_date(4))
        %small
          %center= "5 #{:best_authors_shown.t}"

      -elsif page == :insertions_by_author_by_date
        = high_stock("charts.insertions_by_author_by_date", charts.insertions_by_author_by_date(4))
        %small
          %center= "5 #{:best_authors_shown.t}"

      -elsif page == :deletions_by_author_by_date
        = high_stock("charts.deletions_by_author_by_date", charts.deletions_by_author_by_date(4))
        %small
          %center= "5 #{:best_authors_shown.t}"
