.page-header
  %h1.pagination-centered= :hour_of_day.t
%table{:class => "table table-bordered table-condensed"}
  %tr
    %th= :hour.t
    - (0..23).each do |h|
      %th= h
  %tr
    %td= :commits.t
    - repo.activity.by_hour_array.each do |commits|
      %td= commits
  %tr
    %td= :percentage.t
    - repo.activity.by_hour_array.each do |commits|
      %td= (commits * 100.0 / repo.activity.by_hour_array.sum).round(2)
= high_chart("activity_by_hour", charts.activity_by_hour)


.page-header
  %h1.pagination-centered= :day_of_week.t
%table{:class => "table table-bordered table-condensed"}
  %tr
    %th= :day.t
    - Date::ABBR_DAYNAMES.each do |d|
      %th= d
  %tr
    %td= :commits.t
    - repo.activity.by_wday_array.each do |commits|
      %td= commits
  %tr
    %td= :percentage.t
    - repo.activity.by_wday_array.each do |commits|
      %td= (commits * 100.0 / repo.activity.by_wday_array.sum).round(2)
= high_chart("activity_by_wday", charts.activity_by_wday)