.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#best_authors', 'data-toogle' => 'tab'}= :best_authors.t
    %li
      %a{:href => '#commits_count_by_author', 'data-toogle' => 'tab'}= :commits_count_by_author.t
    %li
      %a{:href => '#changed_lines_by_author', 'data-toogle' => 'tab'}= :changed_lines_by_author.t
    %li
      %a{:href => '#insertions_by_author', 'data-toogle' => 'tab'}= :insertions_by_author.t
    %li
      %a{:href => '#deletions_by_author', 'data-toogle' => 'tab'}= :deletions_by_author.t
    %li
      %a{:href => '#commits_sum_by_author_by_date', 'data-toogle' => 'tab'}= :commits_sum_by_author_by_date.t
    %li
      %a{:href => '#changed_lines_by_author_by_date', 'data-toogle' => 'tab'}= :changed_lines_by_author_by_date.t
    %li
      %a{:href => '#insertions_by_author_by_date', 'data-toogle' => 'tab'}= :insertions_by_author_by_date.t
    %li
      %a{:href => '#deletions_by_author_by_date', 'data-toogle' => 'tab'}= :deletions_by_author_by_date.t

  .tab-content
    .tab-pane.active{id: 'best_authors'}
      .page-header
        %h1.pagination-centered= :best_authors.t
      %table{:class => "table table-bordered table-condensed table-hover"}
        %tr
          %th= :author.t
          %th= :commits.t
          %th= :insertions.t
          %th= :deletions.t
          %th= :first_commit.t
          %th= :last_commit.t
          %th
        - sorted_authors = repo.authors.sort_by { |a| -a.commits.size}
        - sorted_authors.each_with_index do |author, i|
          %tr
            %th= author.name
            %td= author.commits.size
            %td= author.insertions
            %td= author.deletions
            %td= author.commits.first.try(:date).try(:to_formatted_s, :long)
            %td= author.commits.last.try(:date).try(:to_formatted_s, :long)
            %td
              - if i <= 4
                %a.btn{:href => "##{author.hash}-modal", :role => "button", 'data-toggle'=>"modal"}= :show_more.t
              - else
                = :more_data_not_available.t
      - sorted_authors[0..4].each do |author|
        .modal.hide{:id => "#{author.hash}-modal", :role => "dialog", :style => "width: 1140px; margin-left:-570px; top: 35%; "}
          .modal-header
            %h1.pagination-centered= "#{author.name} <#{author.email}>"
          .modal-body{:style => "height: 620px; max-height: 80%;"}
            = render '_activity', author: author
          .modal-footer
            %a.btn{'data-dismiss' => "modal"}= :close.t

    .tab-pane{id: 'commits_count_by_author'}
      .page-header
        %h1.pagination-centered= :commits_count_by_author.t
      = high_chart("charts.commits_count_by_author", charts.commits_count_by_author)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'changed_lines_by_author'}
      .page-header
        %h1.pagination-centered= :changed_lines_by_author.t
      = high_chart("charts.changed_lines_by_author", charts.changed_lines_by_author)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'insertions_by_author'}
      .page-header
        %h1.pagination-centered= :insertions_by_author.t
      = high_chart("charts.insertions_by_author", charts.insertions_by_author)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'deletions_by_author'}
      .page-header
        %h1.pagination-centered= :deletions_by_author.t
      = high_chart("charts.deletions_by_author", charts.deletions_by_author)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'commits_sum_by_author_by_date'}
      .page-header
        %h1.pagination-centered= :commits_sum_by_author_by_date.t
      = high_stock("charts.commits_sum_by_author_by_date", charts.commits_sum_by_author_by_date)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'insertions_by_author_by_date'}
      .page-header
        %h1.pagination-centered= :insertions_by_author_by_date.t
      = high_stock("charts.insertions_by_author_by_date", charts.insertions_by_author_by_date)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'changed_lines_by_author_by_date'}
      .page-header
        %h1.pagination-centered= :changed_lines_by_author_by_date.t
      = high_stock("charts.changed_lines_by_author_by_date", charts.changed_lines_by_author_by_date)
      %small
        %center= "5 #{:best_authors_shown.t}"

    .tab-pane{id: 'deletions_by_author_by_date'}
      .page-header
        %h1.pagination-centered= :deletions_by_author_by_date.t
      = high_stock("charts.deletions_by_author_by_date", charts.deletions_by_author_by_date)
      %small
        %center= "5 #{:best_authors_shown.t}"
