.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#files_by_date', 'data-toogle' => 'tab'}= :files_by_date.t
    %li
      %a{:href => '#files_by_extension', 'data-toogle' => 'tab'}= :files_by_extension.t

  .tab-content
    .tab-pane.active{id: 'files_by_date'}
      .page-header
        %h1.pagination-centered= :files_by_date.t
      = high_stock("charts.files_by_date", charts.files_by_date)


    .tab-pane{id: 'files_by_extension'}
      .page-header
        %h1.pagination-centered= :files_by_extension.t
      = high_chart("charts.files_by_extension", charts.files_by_extension)
