%table{:class => "table table-hover table-bordered"}
  %tr
    %td= :project_name.t
    %td= repo.project_name
  %tr
    %td= :project_version.t
    %td= repo.project_version
  %tr
    %td= :tree_path.t
    %td= repo.tree_path
  %tr
    %td= :generated_at.t
    %td= I18n.localize(DateTime.now, format: :long)
  %tr
    %td= :generator.t
    %td= "GitStats #{GitStats::VERSION}"
  %tr
    %td= :report_period.t
    %td= repo.commits_period.map {|d| I18n.localize(d, format: :long)}.join(" .. ")
  %tr
    %td= :total_files.t
    %td= "#{repo.files_count} (#{:binary.t}: #{repo.binary_files.size}, #{:text.t}: #{repo.text_files.size})"
  %tr
    %td= :total_lines.t
    %td= "#{repo.lines_count} #{:lines.t} (#{repo.short_stats.map(&:insertions).sum} #{:insertions.t}, #{repo.short_stats.map(&:deletions).sum} #{:deletions.t})"
  %tr
    %td= :total_commits.t
    %td= repo.commits.size
  %tr
    %td= :authors.t
    %td= repo.authors.size
