%table{:class => "table table-hover table-bordered"}
  %tr
    %td= :project_name.t
    %td= repo.project_name
  %tr
    %td= :project_version.t
    %td= repo.project_version
  %tr
    %td= :generated_at.t
    %td= DateTime.now.to_formatted_s(:long)
  %tr
    %td= :generator.t
    %td= "GitStats #{GitStats::VERSION}"
  %tr
    %td= :report_period.t
    %td= repo.commits_period.map {|d| d.to_formatted_s(:long)}.join(" .. ")
  %tr
    %td= :total_files.t
    %td= "#{repo.files_count} (binary: #{repo.binary_files.size}, text: #{repo.text_files.size})"
  %tr
    %td= :total_lines.t
    %td= "#{repo.lines_count} lines (#{repo.short_stats.map(&:insertions).sum} insertions, #{repo.short_stats.map(&:deletions).sum} deletions)"
  %tr
    %td= :total_commits.t
    %td= repo.commits.size
  %tr
    %td= :authors.t
    %td= repo.authors.size
