!!! XML
!!!
%html
  %head
    %title= "GitStats - #{repo.project_name}"
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => asset_path('bootstrap/css/bootstrap.min.css', active_page), :type => "text/css"}
    %style
      :plain
        body { padding-top: 60px; }
    %link{:rel => "stylesheet", :href => asset_path('bootstrap/css/bootstrap-responsive.min.css', active_page), :type => "text/css"}
    %script{:src => asset_path('jquery.min.js', active_page), :type => "text/javascript"}
    %script{:src => asset_path('bootstrap/js/bootstrap.min.js', active_page), :type => "text/javascript"}
    %script{:src => asset_path('highstock.js', active_page), :type => "text/javascript"}
    %script{:src => asset_path('exporting.js', active_page), :type => "text/javascript"}
    %script{:src => asset_path('export-csv.js', active_page), :type => "text/javascript"}
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => link_to("index.html", active_page)}= "GitStats - #{repo.project_name}"
          %div.nav-collapse.collapse
            %ul.nav
              - links.each do |name, href|
                %li{:class => active_page[name.to_s.underscore] ? "active" : ""}
                  %a{:href => link_to(href, active_page)}= name.t
    %div.container
      = yield
