!!! XML
!!!
%html
  %head
    %title= "GitStats - #{repo.project_name}"
    %link{:rel => "stylesheet", :href => "assets/bootstrap/css/bootstrap.min.css", :type => "text/css"}
    %style
      :plain
        body { padding-top: 60px; }
    %link{:rel => "stylesheet", :href => "assets/bootstrap/css/bootstrap-responsive.min.css", :type => "text/css"}
    %script{:src => "assets/jquery.min.js", :type => "text/javascript"}
    %script{:src => "assets/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/highstock.js", :type => "text/javascript"}
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "index.html"}= "GitStats - #{repo.project_name}"
          %div.nav-collapse.collapse
            %ul.nav
              - all_templates.each do |link|
                %li{:class => active_page == link ? "active" : ""}
                  %a{:href => "#{link}.html"}= link.capitalize
    %div.container
      = yield
